# Verbatim copies of Matt Pocock's skills — no upstream license declared.
# Kept LOCAL-ONLY for the bake-off "Variant D" control; never committed/published.
# Reproduce from the URLs in SOURCE.md (repo @ aaf2453).
verbatim/
